<!DOCTYPE html>
<html lang="en">
<head>
    <%- partial('components/html_header') %>
</head>
<body>
  <div class="container-fluid" role="main">

    <%- partial('components/body_div_header') %>

    <div class="content">
      <%- body %>
    </div>

    <%- partial('components/body_div_footer') %>

  </div>

  <%- partial('components/body_footer') %>

</body>
</html>