<article>

<div class="panel panel-info">
    <div class="panel-heading">

        <h1>

          <% if (item.link){ %>
            <% if (item.title){ %>
            <a href="<%- item.link %>" target="_blank"><span><%= item.title %></span></a>
            <% } else { %>
            <a href="<%- item.link %>" target="_blank"><span><%= item.link %></span></a>
            <% } %>
          <% } else { %>
            <% if (index){ %>
            <a href="<%- config.root %><%- item.path %>"><span><%= item.title %></span></a>
            <% } else { %>
            <span><%= item.title %></span>
            <% } %>
          <% } %>
        
        </h1>

        <p class="small">

          <i class="fa fa-calendar" aria-hidden="true"></i>
          <a href="<%- config.root %><%- item.path %>" rel="bookmark">
            <time class="published" datetime="<%= item.date.toDate().toISOString() %>">
              <%= item.date.format(config.date_format) %>
            </time>
          </a>

        </p>
    </div>
    <div class="panel-body">

      <% if (item.photos && item.photos.length){ %>
      <div class="featured-media">
        <% if (item.photos.length && !index){ %>
          <% for (var i in item.photos) { %>
          <img src="<%- item.photos[i] %>" class="attachment-post-thumbnail size-post-thumbnail">
          <% } %>
        <% } else if (item.photos.length && index){ %>
        <img src="<%- item.photos[0] %>" class="attachment-post-thumbnail size-post-thumbnail">
        <% } else { %>
        <img src="<%- item.photos %>" class="attachment-post-thumbnail size-post-thumbnail">
        <% } %>
      </div>
      <% } %>

      <p>
        <% if (item.excerpt && index){ %>
          <%- item.excerpt %>
        <% } else { %>
          <%- item.content %>
        <% } %>
      </p>

    </div>
    <div class="panel-footer">

      <% if (item.tags && item.tags.length){ %>
      <%
          var tags = [];
          item.tags.forEach(function(tag){
              tags.push('<li><a href="' + config.root + tag.path + '">' + tag.name + '</a></li>');
          });
      %>
      <span class="tags">
        <ul class="list-inline" style="display:inline;">
          <li><i class="fa fa-tags" aria-hidden="true"></i></li>
          <%- tags.join('') %>
        </ul>
      </span>
      <% } %>
    
    </div>
</div>

</article>
